
<!DOCTYPE html>
<html>
    <head lang="pt-br">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Página criada para a descrição das raças do cenário de campanha de Rhaokar para Pathfinder 1e">
        <meta name="keywords" content="RPG, Cenário de Campanha, Rhaokar, espécies, raças">
    <title>Itens Alquímicos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style>
    .conteudo{
  padding: 50px;
}

</style>
</head>
<body>
<div class="contem_nuvem"><div id="clouds"></div></div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="{% url 'index'%}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown">Ancestralidades</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'common'%}">Comuns</a>
              <a class="dropdown-item" href="{% url 'uncommon'%}">Incomuns</a>
              <a class="dropdown-item" href="{% url 'rare'%}">Raras</a>
              <a class="dropdown-item" href="{% url 'universal'%}">Universais</a>
            </div>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown">O Cenário</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'mapa'%}">O Mapa</a>
            <a class="dropdown-item" href="{% url 'kingdoms'%}">Os Reinos</a>
            <a class="dropdown-item" href="{% url 'cosmos'%}">O Cosmos</a>
            <a class="dropdown-item" href="{% url 'gods'%}">Os Deuses</a>
          </div>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown">Diário das Campanhas</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'campaign'%}">Log das Campanhas</a>
              <a class="dropdown-item" href="{% url 'characters'%}">Personagens</a>
              <a class="dropdown-item" href="{% url 'hall'%}">Salão dos Heróis</a>
            </div>
          </li>  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Magia</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'mudancas'%}">Mudanças</a>
              <a class="dropdown-item" href="{% url 'newpowers'%}">Novos Poderes</a>
              <a class="dropdown-item" href="{% url 'magicarquetypes'%}">Arquétipos</a>
              <a class="dropdown-item" href="{% url 'magicitens'%}">Itens</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Alquimia</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'alchfeats'%}">Talentos</a>
              <a class="dropdown-item" href="{% url 'symbionts'%}">Simbiontes</a>
              <a class="dropdown-item" href="{% url 'grafts'%}">Implantes</a>
              <a class="dropdown-item" href="{% url 'alchitens'%}">Itens</a>
            </div>
          </li> 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Tecnologia</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'techfeats'%}">Talentos</a>
              <a class="dropdown-item" href="{% url 'techcreations'%}">Criação de Itens</a>
              <a class="dropdown-item" href="{% url 'techitens'%}">Itens</a>
            </div>
          </li>       
      </ul>
    </div>  
</nav>
<br>
<br>
<h1>Em Construção</h1>
<br>
<br>
<a href="{% url 'index'%}"><svg class="botao"
  style="width: 270px; height: 70px;">
      <polygon
      points="262,40 225,64 75,64 40,40 75,20 225,20"
      stroke="grey"
      fill="black"
      stroke-width="5"/>
      <text x="150" y="45" dominant-baseline="middle" text-anchor="middle" font-size="25" fill="white" font-family="'NewRocker', Times, serif">
      Voltar
      </text>
  </svg></a>
 
<div class="contem_grama"><div id="grass"></div></div>
    </body>
</html>

